@import "reset.css";
body {
  background-color: #020202;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  grid-gap: 2em;
  padding: 4em;
  margin: 0 auto;
  padding: 0;
}

/* 배경화면 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
img {
  position: relative;
  bottom: 160px;
  z-index: -1;
  width: 600px;
  height: 600px;
  opacity: 0.6;
  animation: fadein 1s linear;
}

@media (max-width: 540px) {
  img {
    width: 400px;
    height: 400px;
  }
}

/* 이미지 리로드 */
.hide {
  display: none;
}
.show {
  display: block;
}

.calculator {
  margin-top: 30px;
  position: relative;
  background-color: transparent;
  display: grid;
  width: 400px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  font-size: 3em;
  grid-gap: 0.25em;
}

@media (max-width: 540px) {
  .calculator {
    width: 300px;
  }
}

.button {
  all: unset;
  width: 100%;
  height: 3;
  text-align: center;
  vertical-align: center;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.15),
    0 8px 16px -8px rgba(0, 0, 0, 0.15), 0 -6px 16px -6px rgba(0, 0, 0, 0.015);
}

.button:active {
  /* 가로, 세로 모두 0.98배 확대 */
  transform: scale(0.98);
}

/* 여기도 transparent인데 뭐가 문제지...? ㅜㅜ */
input {
  grid-area: 1 / 1 / 2 / 4;
  color: white;
  background-color: transparent;
  border: none;
  text-align: right;
  padding-right: 0.25rem;
  font-size: 1em;
}

#zero {
  grid-area: 5 / 1 / 6 / 3;
}

#reset {
  background-color: rgba(84, 86, 90, 0.7);
}

#equal {
  background-color: rgba(132, 8, 8, 0.5);
}

.color-inversion {
  color: black;
  font-weight: bold;
  background: linear-gradient(
    121.57deg,
    #ffffff 8.77%,
    rgba(255, 255, 255, 0.88) 70.15%
  );
}
